// Neutral color palette
$palette-neutral--xdark: #222222;
$palette-neutral--dark: #3b3b3b;
$palette-neutral--light: #efefef;
$palette-neutral--xlight: #fbfbfb;

// Primary color palette
$palette-orange: #ef7e18;

// Apply colors
$c-text: #000;
$c-text-light: #8c8c8c;
$c-error: #c70707;
$c-navigation: #105d8c;

// CityRock
$c-primary: #319aca;
$c-link: $c-primary;

$c-border: #ddd;