%basic {
  @extend %layout;
  @extend %table;

  p {
    font-style: italic;
  }

  @include respond-above("medium") {

  }
}

.basic {
  @extend %basic;
}

body {
  background-color: #efefef;
}

h2, h3 {
  margin-bottom: 0.8em;
}

h4 {
  margin-bottom: 0.4em;
}

p {
  margin-bottom: 1em;
}
