%settings {
  @extend %layout;
  @extend %form;

  p {
    font-style: italic;
  }

  .button {
    margin-right: 0.4em;
  }

  .table-cell {
    display: table-cell;
    padding-right: 1em;
    vertical-align: top;

    &:first-of-type, &:last-of-type {
      padding-top: 0.8em;
    }
  }

  @include respond-above("medium") {

  }
}

.settings {
  @extend %settings;
}
